<div class="main">
  <div class="card-header">
    Assessment Form
  </div>
  <div class="main row">
  <div class="col-3">
      <div class="card-header">
          Select Organization
        </div>
    <ngx-dhis2-org-unit-filter
      [orgUnitFilterConfig]="orgUnitFilterConfig"
      [selectedOrgUnitItems]="selectedOrgUnitItems"
      (orgUnitUpdate)="onOrgUnitUpdate($event, 'UPDATE')"
      (orgUnitClose)="onOrgUnitUpdate($event, 'CLOSE')">
   </ngx-dhis2-org-unit-filter>
  </div>
  <div class="main-container col-9">
      <div class="alert alert-primary">
          Loading Assessment Form
        </div>
      <mat-spinner class="spinner"></mat-spinner>
  </div>
</div>
