<div class="main">
  <div class="card-header">
    <h4>{{ formTitle | titlecase }}</h4>
  </div>
  <div class="filter row">
    <ngx-dhis2-selection-filters
      (filterUpdate)="onFilterUpdateAction($event)"
      [dataSelections]="dataSelections"
      [selectionFilterConfig]="selectionFilterConfig"
      (update)="onFilterUpdateAction($event)"
    >
    </ngx-dhis2-selection-filters>
  </div>
  <div *ngIf="showForm">
    <div>
      <!-- This is the beginning of the main form -->
      <p *ngIf="!dataPresence">
        <i class="oops fa fa-optin-monster"></i><br />
        Ooops! Cannot retreive form data!
      </p>
      <div class="form" *ngIf="dataPresence">
        <div>
          <form name="assessmentForm">
            <table class="table table-bordered table-hover table-sm">
              <thead class="card-header">
                <tr class="table-active">
                  <th scope="col" class="sno">S/No</th>
                  <th scope="col" class="indicator">Indicator</th>
                  <th scope="col" class="possibleMaxValue">
                    Possible Maximum Value
                  </th>
                  <th scope="col">Obtained Points</th>
                  <th scope="col" class="percentage">%</th>
                  <th scope="col">Observations</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let indicator of assessmentIndicators$ | async;
                    let sno = index
                  "
                >
                  <th scope="row" class="sno">{{ sno + 1 }}</th>
                  <td class="indicator">{{ indicator.indicator }}</td>
                  <td>
                    {{ indicator.possibleMaxValue }}
                  </td>
                  <td>
                    <input
                      class="form-control input-group-sm"
                      type="number"
                      (blur)="
                        onSaveDataValues(sno, indicator.id); onInputChange(sno)
                      "
                      (keyup)="onInputChange(sno)"
                      [(ngModel)]="obtainedValue[sno]"
                      [ngModelOptions]="{ standalone: true }"
                      max="{{ indicator.possibleMaxValue }}"
                      [disabled]="isFormComplete[sno] || !isApplicable[sno]"
                    />
                    <mat-form-field class="mat-form-field">
                      <mat-label>Selection Application</mat-label>
                      <mat-select>
                        <mat-option
                          [value]="1"
                          (click)="onOptionSelect(sno, 1)"
                        >
                          Applicable
                        </mat-option>
                        <mat-option
                          [value]="2"
                          (click)="onOptionSelect(sno, 0); notApplicable(sno)"
                        >
                          Not Applicable
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                  <td>
                    {{ percentage[sno] }}
                  </td>
                  <td>
                    <input class="observation form-control input-group-sm" />
                  </td>
                </tr>
                <tr class="total-tr">
                  <td colspan="2" class="total">TOTAL</td>
                  <td>{{ possibleMaxValueSum }}</td>
                  <td>{{ obtainedValueSum }}</td>
                  <td>{{ percentageSum }}</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <button
              class="btn btn-group btn-primary theme-color my-2 my-sm-0"
              (click)="completeForm()"
            >
              Complete
            </button>
            <button
              class="btn btn-group btn-primary theme-color"
              (click)="incompleteForm()"
            >
              Incomplete
            </button>
            <button class="btn btn-group btn-primary theme-color" type="submit">
              Run Validation
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
