<div class="card">
  <div class="card-body" style="padding: 5px">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Configuration</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Period Type</td>
          <td>{{ (generalConfiguration$ | async).periodType }}</td>
        </tr>
        <tr>
          <td>Organisation Unit level</td>
          <td>
            {{
              (generalConfiguration$ | async).organisationUnitLevel.displayName
            }}
          </td>
        </tr>
        <tr>
          <td>Error Rate</td>
          <td>{{ (generalConfiguration$ | async).errorRate }}</td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="form-group col col-12">
        <button class="btn btn-primary" (click)="onUpdateConfigurations()">
          Update
        </button>
      </div>
    </div>
  </div>
</div>
