<div>
  <div class="card-header">
    General Configurations
  </div>
  <div class="card">
    <div class="card-body" style="padding: 5px;">
      <form>
        <mat-form-field>
          <mat-label>Select Period Type</mat-label>
          <mat-select
          [(ngModel)]="selectedPeriodType"
          (ngModelChange)="updatePeriodType()"
          name="periodType"
          >
            <mat-option *ngFor="let periodType of periodTypes" [value]="periodType.name">
              {{periodType.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="row">
          <div class="form-group form-check col col-12">
            <button type="submit" class="btn btn-primary">
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


