<div class="main">
    <div class="card-header">
      Verfication Form
    </div>
    <div class="row">
    <div class="main col-3">
      <div class="card-header">
        Select Organisation
      </div>
      <ngx-dhis2-org-unit-filter
        [orgUnitFilterConfig]="orgUnitFilterConfig"
        [selectedOrgUnitItems]="selectedOrgUnitItems"
        (orgUnitUpdate)="onOrgUnitUpdate($event, 'UPDATE')"
        (orgUnitClose)="onOrgUnitUpdate($event, 'CLOSE')">
     </ngx-dhis2-org-unit-filter>
    </div>
  </div>
