<div class="main">
  <div class="card-header">
    Verfication Form
  </div>
  <div class="row">
    <div class="main col-6">
      <button class="card-header btn-group-sm" (click)="onOrgUnitToggle()">
        Select Organisation <i class="fa fa-caret-down"></i>
      </button>
      <ngx-dhis2-org-unit-filter
        *ngIf="showOrgUnitFilter"
        [orgUnitFilterConfig]="orgUnitFilterConfig"
        [selectedOrgUnitItems]="selectedOrgUnitItems"
        (orgUnitUpdate)="onOrgUnitUpdate($event, 'UPDATE')"
        (orgUnitClose)="onOrgUnitUpdate($event, 'CLOSE')"
      >
      </ngx-dhis2-org-unit-filter>
    </div>
    <div class="main col-6">
      <button class="card-header btn-group-sm" (click)="onPeriodToggle()">
        Select Period <i class="fa fa-caret-down"></i>
      </button>
      <ngx-dhis2-period-filter
        *ngIf="showPeriodFilter"
        [selectedPeriods]="selectedPeriodItems"
        [periodFilterConfig]="periodFilterConfig"
        [lowestPeriodType]="'Monthly'"
        (update)="onPeriodUpdate($event, 'UPDATE')"
      ></ngx-dhis2-period-filter>
    </div>
  </div>
  <div class="form">
    <!-- Main Form display ground -->
    <form>
      <h3>
        {{ periodObject.items[0].type | titlecase }}
        {{ orgUnitLevel }} Data Verification Form
      </h3>
      <br />
      <h5>
        Organization Unit Name: <u>{{ orgUnitObject.items[0].name }}</u>
      </h5>
      <br />
      <table class="table table-bordered table-hover">
        <thead class="card-header">
          <tr>
            <th scope="col" rowspan="2">S/No</th>
            <th scope="col" rowspan="2">Indicator</th>
            <th scope="col" *ngFor="let iteration of periodLooper">
              {{ iteration }}
            </th>
            <th scope="col">
              Total Declared (Rep.#)
            </th>
            <th scope="col">
              Total Verified (Ver.#)
            </th>
            <th scope="col">Difference</th>
            <th scope="col">% Error</th>
            <th scope="col" rowspan="2">Unit Fee (Tsh)</th>
            <!-- Period Type is needed here -->
            <th scope="col" rowspan="2">Quarterly Provisional Total Amount</th>
            <!-- Tolerance rate percentage is needed here -->
            <th scope="col" rowspan="2">
              Loss Due to above ToleranceRate%? & Above Error
            </th>
            <th scope="col" rowspan="2">Actual Quantity Amount</th>
          </tr>
          <tr>
            <th
              scope="col"
              *ngFor="let iteration of periodLooper; let i = index"
            >
              <tr>
                <td class="tdwithin">Rep. #{{ i + 1 }}</td>
                <td class="tdwithin">Ver. #{{ i + 1 }}</td>
              </tr>
            </th>

            <th scope="col">(Rep.#1 +Rep.#2 +Rep.#3)</th>
            <th scope="col">(Ver.#1 +Ver.#2 +Ver.#3)</th>
            <th scope="col">(Rep.#-Ver.#)</th>
            <th scope="col">%(Rep.#-Ver.#) / Rep.#</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Indicator name</td>
            <td *ngFor="let iteration of periodLooper">
              <tr>
                <td><input value="0" disabled /></td>
                <td><input /></td>
              </tr>
            </td>

            <td><input value="0" /></td>
            <td><input value="0" /></td>
            <td><input value="0" /></td>
            <td><input value="0" /></td>
            <td>unitFee?</td>
            <td><input value="0" /></td>
            <td><input value="0" /></td>
            <td><input value="0" /></td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-group btn-primary btn-form">Complete</button>
      <button class="btn btn-group btn-primary btn-form">Incomplete</button>
      <button class="btn btn-group btn-primary btn-form">Run Validation</button>
    </form>
  </div>
</div>
