.main {
  margin-top: 4px;
}
.alert {
  margin-top: 25%;
  text-align: center;
}
.card-header {
  width: 100%;
}
.form {
  margin: 5px;
  text-align: center;
}
.btn-form {
  width: 32%;
  margin: 3px;
  text-align: center;
}
.tdwithin {
  width: 130px;
}
.tdwithinplus {
  width: 130px;
}
.input-within {
  width: 119px;
}
em {
  color: red;
}
table input {
  text-align: center;
}
table thead {
  font-size: -5px;
}
tbody {
  font-size: 12pt;
}
.indicator {
  width: 250px;
  text-align: left;
}
.sno {
  width: 4px;
}
.iteration {
  width: 260px !important;
  text-align: center;
}
.trwithin {
  width: 130px;
}
.total {
  text-align: left;
  font-weight: bold;
}
.theme-color {
  background-color: rgb(39, 102, 150);
}
.wide-input {
  width: 10rem;
}
.form-control {
  display: inline-block;
}
.form-control[readonly] {
  background-color: white;
}
.filter {
  padding: 0.2rem 2rem;
}
form {
  padding: 0.2rem 1.25rem;
}
