.main {
  margin-top: 4px;
}
.alert {
  margin-top: 25%;
  text-align: center;
}
.card-header {
  width: 100%;
}
.form {
  margin: 5px;
  text-align: center;
}
.btn-form {
  width: 32%;
  margin: 3px;
  text-align: center;
}
table {
  width: max-content;
}
.tdwithin {
  width: 130px;
}
.tdwithinplus {
  width: 130px;
}
.input-within {
  width: 100px;
}
.middle-column {
  width: 125px;
}
.middle-small-column {
  width: 80px;
}
.wide-sized-column {
  width: 170px;
}
table input {
  text-align: center;
}
table thead {
  font-size: -5px;
  background-color: #e9ecef;
}
tbody,
tbody td,
tbody th {
  font-size: 12pt;
  vertical-align: middle;
}
.indicator {
  width: 250px;
  text-align: left;
}
.sno {
  width: 45px;
  font-size: small;
}
.iteration {
  width: 260px !important;
  text-align: center;
}
.trwithin {
  width: 130px;
}
.total {
  text-align: left;
  font-weight: bold;
}
.theme-color {
  background-color: rgb(39, 102, 150);
}
.wide-input {
  width: 158px;
}
.form-control {
  display: inline-block;
}
.form-control[readonly] {
  background-color: white;
}
.filter {
  padding: 0.2rem 2rem;
}
form {
  padding: 0.2rem 1.25rem;
}
thead,
tbody {
  display: block;
}
tbody {
  max-height: 400px;
  overflow: hidden;
  overflow-y: scroll;
}
.col-4 {
  text-align: right;
}
.oops {
  font-size: 200px;
}
