.main {
  margin-top: 4px;
}
.alert {
  margin-top: 25%;
  text-align: center;
}
.card-header {
  width: 100%;
}
.form {
  margin: 5px;
  text-align: center;
}
.btn-form {
  width: 32%;
  margin: 3px;
}
